@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

* {
  /* border: 1px solid #fff; */
  background: #171717;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
}
